<!DOCTYPE html>
<html>
    <head>
        <title>404ERR</title>
         <link rel="icon" href='img/weather.png'>
         <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>{{errormessage}}</p>
        </div>
        
        
        <p>{{>footer}}</p>
    </body>
</html>