<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
         <link rel="icon" href='img/weather.png'>
         <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <h2>{{title}}</h2>
        <h3>{{name}}</h3>
        
        </div>
         <p>{{>footer}}</p>
    </body>
</html>